body {
  background-color: #474649;
}

h1 {
  color: #FFFFFF;
}

p {
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

a {
  text-align: center;
}
